<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Profile Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <%- include('nav') %>
  <body>
    <!-- <nav class="first-nav">
      <span class="nav-heading">Quiz App</span>
      <div class="loginorregister">
        <p><a href="/login">Login</a></p>

        <p><a href="views/register.html">Register</a></p>
      </div>
    </nav> -->
    <main class="indexmain">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Your Created Quizzes!</th>
            <th scope="col">Start Quiz</th>
            <th scope="col">Current Privacy Status</th>
            <th scope="col">Set Privacy Status</th>
            <th scope="col">Delete Quiz</th>
          </tr>
        </thead>
        <tbody class="home_table">
          <% for (let quiz of quizzes) { %>
          <tr>
            <td><%= quiz.title %></td>

            <!-- Start Button -->
            <td>
              <form method="GET" action="/quiz/<%= quiz.id %>">
                <button class="user_profile_start"
                  type="submit"
                >
                  Start!
                </button>
              </form>
            </td>


            <td>
              <% if (quiz.privacy === true) { %>
                <p> Private </p>
                <%} else { %>
                <p> Public </p>
                <% } %>
            </td>


            <td>
              <!-- Private/Public Button -->
              <form method="POST" action="/status/<%= quiz.user_id %>">
                <select name="privacy_status" id="correct-ans">
                  <option value="<%= -quiz.id %>">Public</option>
                  <option value="<%= quiz.id %>">Private</option>
                </select>
                <button class="go_button"

                  type="submit"
                >
                  Set!
                </button>
              </form>
            </td>

            <!-- DELETE Button -->
            <td>
              <form method="POST" action="/quiz/<%= quiz.id %>/<%= quiz.user_id %>/delete">
                <button class="user_profile_delete"
                  type="submit"
                >
                  Delete!
                </button>
              </form>
            </td>


          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </body>
</html>
