<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/createquiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/results.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('nav') %>
    <div class="result_body">
      <h1 class="display-1">Quiz: <%= title%></h1>
      <h2
        class="display-1"
        style="text-decoration: underline; text-align: center"
      >
        Results:
      </h2>
      <h2 class="display-1" style="text-align: center">
        <%= correct%> / <%= total%>
      </h2>
      <h2 class="display-1" style="text-align: center">
        <%= correct/total * 100 %>%
      </h2>
      <div style="display: flex; justify-content: center;">
      <a href= <%-`mailto:?subject=Here%20is%20a%20link%20to%20the%20results%20site&amp;body=Check%20them%20out%20http://localhost:8080/users/${userInfo.id}/${quiz_id}`%>
        title="Share by Email" >
        <button class="resultsbutton" style=" background-color: white;
  color: black;
  border: 2px solid #4CAF50; padding: 15px">Share Quiz</button>
      </a>
      </div>
    </div>
  </body>
</html>

