<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/createquiz.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('nav') %>
    <h1 class="quiz_header"><%=quiz[0].title %></h1>
    <main class="quizattempt-container">
      <section class="newquiz">
        <form id="myform" action="/quiz/<%= quiz[0].quiz_id %>" method="POST">
          <% quiz.forEach(element => { %>

          <ul>
            <li>
              <h3><%= element.question %></h3>

              <div class="option">
                <label for="question-1-answers-A"
                  >A) <%= element.option[0] %>
                </label>
              </div>

              <div class="option">
                <label for="question-1-answers-B"
                  >B) <%= element.option[1] %></label
                >
              </div>

              <div class="option">
                <label for="question-1-answers-C"
                  >C) <%= element.option[2] %></label
                >
              </div>

              <div class="option">
                <label for="question-1-answers-D"
                  >D) <%= element.option[3] %></label
                >
              </div>
            </li>
          </ul>
          <label for="options">Choose the correct answer:</label>
          <select name="answers_index" id="correct-ans">
            <option value="<%=element.ans_id[0]  %>">A</option>
            <option value="<%=element.ans_id[1]  %>">B</option>
            <option value="<%=element.ans_id[2]  %>">C</option>
            <option value="<%=element.ans_id[3]  %>">D</option>
          </select>

          <% }) %>
          <br />
          <input class="quiz_submit_button" type="submit" value="Submit Quiz" />
        </form>
      </section>
    </main>
  </body>
</html>
